* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  background: url("./images/joanna-kosinska-78uNJt1kPw8-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 60%;
  margin: 40px auto;
}

.selected {
  background: white;
  color: black;
  box-shadow: 0 0 20px coral;
}

.title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
}

.genres {
  margin-top: 30px;
  display: flex;
}

.genres .genre {
  /* width: 50px; */
  background: #ff7b54;
  padding: 15px 30px;
  margin: 0 10px;
  border-radius: 20px;
  transition: 0.3s;
}
.genres .genre:hover {
  cursor: pointer;
  box-shadow: 0 0 20px black;
}

.intro {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.intro .intro-genre {
  color: coral;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: column;
}

.options .option {
  border: 1px solid lightslategray;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: 0.3s;
}
.options .option:hover {
  box-shadow: 0 0 20px coral;
}

.options .option .song-name {
  font-size: 1.5rem;
  font-weight: 500;
}
.options .option .artist-name {
  margin-bottom: 10px;
}

.options .option .player {
}

.main-footer {
  color: rgb(0, 0, 0);
  width: 100%;
  border-top: 1px solid black;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 20px;
  margin-right: 40px;
}

.social .fab {
  border-radius: 50%;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 0.5rem;
}
.social .fab:hover {
  background-color: coral;
  cursor: pointer;
}
